body {
  padding: 10px;
  font-family: 'Lucida Grande', 'Andale Mono', sans-serif, 'Courier New';
}

.success {
  background-color: hsl(141, 71%, 48%);
  color: #ffffff;
}

.failure {
  background-color: hsl(348, 100%, 61%);
  color: #ffffff;
}

textarea, code {
  display: block;
  padding: 10px;
  background-color: #f8f8f8;
  font-family: monospace;
  margin-bottom: 40px;
  line-height: 1.5
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

textarea {
  height: auto;
  white-space: pre-wrap;
}

label {
  font-size: 12px;
  text-transform: uppercase;
}

/* code {
  background: hsl(220, 80%, 90%);
}

pre {
  white-space: pre-wrap;
  background: hsl(30, 80%, 90%);
} */